

$default-font: 'Nunito', sans-serif;
$second-font: 'Baloo Bhai 2', cursive;
$other-font: 'Poppins', sans-serif;
$default-color: #E7FFDD;
$font-color: #815537;

.desktop-carousel{
  display: none;
}
.mobile-carousel {
  display: inline;
}

img {
  width: 100vw;
}

.title {
  font-family: $second-font;
  font-weight: 700;
  font-size: 1.2rem;
}

.subtitle {
  font-family: $other-font;
  font-size: 0.7rem;
}

.btn_carousel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $font-color;
  border-radius: 0.5em;
  border-style: none;
  height: 3em;
  width: 10em;
  color: white;
  font-size: 0.7rem;
  text-decoration-line: none;
  text-align: center;
}

@media screen and (min-width: 1024px) {

  .picsum-img-wrapper {
    height: 70vh;
  }
  .carousel-caption {
    top: 20%;
    text-align: left;
  }

  img {
    width: 100vw;
  }

  .mobile-carousel {
    display: none;
  }
  .desktop-carousel{
    display:inline-block;
  }

  .title {
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  .subtitle {
    font-family: $other-font;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .btn_carousel {
    height: 3em;
    width: 9em;
    font-size: 1rem;
  }

  .picsum-img-wrapper {
    height: 56vh;
  }

  .carousel-caption {
    height: 50%;
  }

  .carousel-indicators {
    top: 10%;
  }
}
