

$default-font: 'Nunito', sans-serif;
$second-font: 'Baloo Bhai 2', cursive;
$other-font: 'Poppins', sans-serif;
$default-color: #E7FFDD;
$font-color: #815537;

.images {
  width: 100%;
}

.title {
  font-family: $second-font;
  font-weight: 700;
  font-size: 1.2rem;
}

.subtitle {
  font-family: $other-font;
  font-size: 0.7rem;
}

.btn_carousel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $font-color;
  border-radius: 0.5em;
  border-style: none;
  height: 3em;
  width: 10em;
  color: white;
  font-size: 0.7rem;
  text-decoration-line: none;
  text-align: center;
}

@media screen and (min-width: 960px) {

  .picsum-img-wrapper {
    height: 70vh;
  }

  img {
    width: 100vw;
  }
}
