<section class="footer">
  <span class="title">Venha nos visitar!</span>
  <img src="../../../assets/img/img_place.svg" class="img_place">
  <span class="title_adress">Recreio dos Bandeirantes</span>
  <p class="text">
    Av das Américas 19019 – Bloco 1 – Sala 123 <br>
    Recreio dos Bandeirantes <br>
    Rio de Janeiro – RJ, 22007-123 <br>
    (21) 98084-8238 <br>
    drarafavasconcelos@gmail.com</p>

  <article class="socialmedia">
      <img src="../../../assets/img/ig_footer.svg" class="img_media">
      <img src="../../../assets/img/wtsp_footer.svg" class="img_media">
      <img src="../../../assets/img/mail_footer.svg" class="img_media">
  </article>
  <article class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.0479481204297!2d-43.49094132502773!3d-23.022011641998592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bdce92a2a6cc5%3A0xadaf4f34cb84ec4d!2sRecreio%20Shopping!5e0!3m2!1spt-PT!2spt!4v1684247763399!5m2!1spt-PT!2spt" width="350" height="200" style="border:0; filter:grayscale(100%)" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </article>
</section>


