<section class="footer">
  <article class="content">
    <div class="title_footer">
      <span class="title">Venha nos visitar!</span>
    </div>
    <div class="image_footer">
      <img src="../../../assets/img/place.jpg" class="img_place">
    </div>
    <div class="texts">
      <p class="adress_title">Venha nos Visitar!</p>
      <p class="adress_place">Recreio dos Bandeirantes</p>
      <p class="adress">A5 Offices - Avenida das Américas, 17.150 </p>
      <p class="adress">Bloco 1  Sala 301 </p>
      <p class="adress">Rio de Janeiro RJ, 22790-704 </p>
      <p class="adress">(21) 98084-8238 </p>
      <p class="adress">drarafavasconcelos@gmail.com</p>

      <div class="socialmedia">
        <a href="https://www.instagram.com/rafaelavasconcelos27/" target="_blank"><img src="../../../assets/img/ig_footer.svg" class="img_media"></a>
        <a href="https://api.whatsapp.com/send?phone=5521980848238" target="_blank"><img src="../../../assets/img/wtsp_footer.svg" class="img_media"></a>
        <a href="mailto:drarafavasconcelos@gmail.com" target="_blank"><img src="../../../assets/img/mail_footer.svg" class="img_media"></a>
      </div>
    </div>
  </article>
  <article class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.1909885564714!2d-43.48096872554643!3d-23.016758679177816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bc2ac7b71cd79%3A0xd9b8dedd7dc85fff!2sA5%20Offices!5e0!3m2!1spt-PT!2spt!4v1690454847555!5m2!1spt-PT!2spt" width="100%" height="200" style="border:0;  filter:grayscale(100%)" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </article>

</section>



