$default-font: 'Nunito', sans-serif;
$default-color: #E7FFDD;
$font-color: #815537;

header {
  background-color: $default-color;
  width: 100vw;
  height: 8.5vh;
}

.container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .logo {
      width: 100%;
    }
    .menu {
      position: relative;

      .icon {
        padding: 0em 2em 0 0;
      }

      .check {
        display: none;
      }

      .list {
        display: none;
        z-index: +3;
        position: absolute;
        top: 12em;
        background-color: $default-color;
        width: 100vw;
        height: 75vh;
        top: 2em;
        right: -1em;
        margin-top: 0;
        padding-bottom: 2em;
        list-style: none;
      }
      .check:checked ~ .list {
        display: inline;
      }

      .item {
        text-decoration: none;
        text-transform: uppercase;
        color: $font-color;
        font-weight: 400;
        font-size: 1.2em;
        text-align: center;
        padding: 1em;
      }

      .item-logo {
        padding: 0;
        text-align: center;

        .logo-list {
          width: 11.5em;
        }
      }

      .close-btn {
        text-align: end;
        padding: 1em 1.8em 0 0;
        font-size: 2em;
      }

      .link {
        text-decoration: none;
        list-style-type: none;
      }

      .link:visited {
        color: $font-color
      }
    }
}




