<header class="header">
  <nav class="container">
    <img src="../../../assets/img/logo.svg" class="logo" alt="Brand's RV">
    <div class="menu">
      <input type="checkbox" id="menu" class="check">
      <label for="menu">
        <img src="../../../assets/img/menu-icon.svg" class="icon" alt="menu icon">
      </label>
      <ul class="list" id="menu">
        <li>
          <button type="button" class="btn-close"><img src="../../../assets/img/x.svg" class="btn-img"></button>
        </li>
        <li class="item">
          <img src="../../../assets/img/logo.svg" class="logo-list" alt="Brand's RV">
        </li>
        <li class="item">
          <a class="link" href="#">Home</a>
        </li>
        <li class="item">
          <a class="link" href="#">Drª. Rafaela Vasconcelos</a>
        </li>
        <li class="item">
          <a class="link" href="#">Áreas de atuação</a>
        </li>
        <li class="item">
          <a class="link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </nav>

</header>
