<header class="header">
  <nav class="container">
    <div class="img-logo">
      <img src="../../../assets/img/logo.svg" class="logo" routerLink="" alt="Brand's RV">
    </div>
    <div class="menu">
      <input type="checkbox" id="menu" class="check">
      <label for="menu">
        <img src="../../../assets/img/menu-icon.svg" (click)="toggleMenu()" class="icon" alt="menu icon">
      </label>
      <div>
        <ul class="menu_desktop">
          <a class="link" routerLink="">Home</a>
          <a class="link" routerLink="/drarv">Drª. Rafaela Vasconcelos</a>
          <a class="link" routerLink="/areas">Áreas de atuação</a>
          <a class="link" routerLink="/contato">Contato</a>
        </ul>
      </div>
      <ul class="list" id="menu" [style.display]="showMenu ? 'inline' : 'none'">
        <li class="item close-btn" (click)="toggleMenu()">
          <a routerLink="" id="close" class="link">X</a>
        </li>
        <li class="item-logo">
          <img src="../../../assets/img/logo.svg" class="logo-list" alt="Brand's RV">
        </li>
        <li class="item" (click)="toggleMenu()">
          <a class="link" routerLink="">Home</a>
        </li>
        <li class="item" (click)="toggleMenu()">
          <a class="link" routerLink="/drarv">Drª. Rafaela Vasconcelos</a>
        </li>
        <li class="item" (click)="toggleMenu()">
          <a class="link" routerLink="/areas">Áreas de atuação</a>
        </li>
        <li class="item" (click)="toggleMenu()">
          <a class="link" routerLink="/contato">Contato</a>
        </li>
      </ul>
    </div>
  </nav>

</header>


