$default-font: 'Nunito', sans-serif;
$second-color: #C4E1B8;
$font-color: #815537;

.images {
  background-color: $second-color;
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
  .logo {
    width: 80%;
  }

  .dra {
    width: 70%;
    height: 40%;
    position: absolute;
    top: 38%;
    border-radius: 2%;
    box-shadow: -13px 14px 1.5px 2px $font-color, 0px 1px 10px darkgray;
  }

}

.about {
  padding: 0.9em;
  color: $font-color;
  height: 55%;

  .dra_desktop {
    display:none;
  }
  .title {
    padding-top: 15em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .text {
    text-align: justify;
    font-size: 0.8em;
    padding: 0.5em;
  }
}

.titles {
  background-color: $font-color;
  display: block;
  text-align: center;
  padding: 1.2em;
  .star {
    width: 20%;
    padding: 0.7em;
  }
  .title {
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 0.8em;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .images {
    height: 95%;
    padding-bottom: o;
    .logo {
      width: 40%;
      display: block;
      justify-content: center;
    }

    .dra {
      display: none;
    }
  }

  .about {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 6em 0em;

    .dra_desktop {
      display: flex;
      height: 100%;
      width: 25%;
      border-radius: 2%;
      box-shadow: -15px 15px 2px 2px $font-color, 0px 1px 10px darkgray;
    }

    .title {
      display: none;
    }

    .text {
      padding: 3em 4em;
      width: 45%;
      font-size: 1.3rem;
    }
  }

  .titles {
    display: flex;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .star_subtitle {
      height: 50%;
      width: 40%;

      .star {
        width: 18% !important;
      }
      .title {
        font-size: 1.3em !important;
      }
    }

  }


}
