
<main>
  <div class="images">
    <img class="logo" src="../../../assets/img/logo&name.svg">
    <img class="dra" src="../../../assets/img/drarv.JPG">
  </div>
  <div class="about">
    <img class="dra_desktop" src="../../../assets/img/drarv.JPG">
    <p class="title">Dra. Rafaela Vasconcelos</p>
    <p class="text">Dentista apaixonada pela odontologia humanizada que tem como prioridades a atenção, cuidado e empatia com o paciente, buscando oferecer o melhor atendimento e tratamento odontológico. Graduada em Odontologia pela UNESA, Pós-Graduanda em Periodontia na PUC Rio</p>
  </div>
  <div class="titles">
    <div class="star_subtitle">
      <img class="star" src="../../../assets/img/big-star.svg">
      <p class="title">Pós Graduanda em Periodontia</p>
    </div>
    <div class="star_subtitle">
      <img class="star" src="../../../assets/img/big-star.svg">
      <p class="title">Formada em odontologia pela UNESA</p>
    </div>
  </div>
</main>


