<img src="../../../assets/img/img1.svg">
<section class="about">
  <div class="images">
    <img class="dra_img" src="../../../assets/img/drarv.png">
    <img class="name" src="../../../assets/img/name.svg">
  </div>
  <div class="texts">
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in nunc pharetra, mattis ligula eget, malesuada eros. Aliquam erat volutpat. Pellentesque eu convallis metus, commodo gravida augue. Donec id erat nec urna vehicula commodo. Sed at sapien lectus. Pellentesque vestibulum mi a orci blandit cursus. Suspendisse tellus elit, consequat vel vehicula non, mollis sit amet turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in nunc pharetra, mattis ligula eget, malesuada eros. Aliquam erat volutpat. Pellentesque eu convallis metus, commodo gravida augue. Donec id erat nec urna vehicula commodo. Sed at sapien lectus.
    </p>
    <div class="subtitle">
      <img class="estrela" src="../../../assets/img/little_star.svg">
      <span class="title">Especialista em periodontia pela PUC</span>
    </div>
    <div class="subtitle">
      <img class="estrela" src="../../../assets/img/little_star.svg">
      <span class="title">Membro do Centro de Pesquisas</span>
    </div>
  </div>
</section>
<section class="areas">
  <p class="text">
    Áreas de atuação
  </p>
  <div *ngFor="let card of listaCards">
    <app-card [card]="card"></app-card>
  </div>
  <a class="link">Clique aqui para ver todas as especialidades</a>

</section>
<br>
<section class="contact">
  <app-form></app-form>
</section>
<section class="footer">
  <app-footer></app-footer>
</section>
