$principal-font: 'Nunito', sans-serif;
$principal-color: #E7FFDD;
$font-color: #815537;

.about{
  text-align: center;

  .dra_img {
    height: 12em;
    border-radius: 100%;
    width: 12em;
    box-shadow: 4px 4px 4px lightgray;
  }
  .name{
    width: 97%;
    padding-top: 1.5em;
  }

  .text {
    color: $font-color;
    font-family: $principal-font;
    text-justify: auto;
    font-size: 0.6em;
    text-align: justify;
    padding: 1.2em;
  }

  .subtitle {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;

    .estrela {
      width: 6%;
      padding-right: 0.2em;
    }

    .title {
      font-family: $principal-font;
      color: $font-color;
      font-size: 0.7em;
    }
  }


}

