<app-carousel></app-carousel>
<section class="about">
  <div class="images">
    <img class="dra_img" src="../../../assets/img/drarv.JPG">

  </div>
  <div class="texts">
    <img class="name" src="../../../assets/img/name.svg">
    <p class="text">
      Dentista apaixonada pela odontologia humanizada que tem como prioridades a atenção, cuidado e empatia com o paciente, buscando oferecer o melhor atendimento e tratamento odontológico. Graduada em Odontologia pela UNESA, Pós-Graduanda em Periodontia na PUC Rio
    </p>
    <div class="subtitle">
      <img class="estrela" src="../../../assets/img/little_star.svg">
      <span class="title">Especialista em periodontia pela PUC</span>
    </div>
    <div class="subtitle">
      <img class="estrela" src="../../../assets/img/little_star.svg">
      <span class="title">Membro do Centro de Pesquisas</span>
    </div>
  </div>
</section>
<section class="areas">
  <div class="text">
    <p class="title">Áreas de atuação</p>
  </div>
  <div class="card-box" *ngFor="let card of listaCards">
    <app-card [card]="card"></app-card>
  </div>
  <div class="link_div">
    <a class="link" class="link" routerLink="/areas">Clique aqui para ver todas as especialidades</a>
  </div>
</section>
<section class="contact">
  <app-form></app-form>
</section>


