$default-font: 'Nunito', sans-serif;
$default-color: #E7FFDD;
$font-color: #815537;

.about{
  text-align: center;

  .dra_img {
    margin-top: 2em;
    height: 15em;
    border-radius: 50%;
    width: 13em;
    box-shadow: 4px 4px 4px lightgray;
  }
  .name{
    width: 95%;
    padding-top: 1.5em;
  }

  .text {
    color: $font-color;
    font-family: $default-font;
    text-justify: auto;
    font-size: 0.6em;
    text-align: justify;
    padding: 2em;
  }

  .subtitle {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;

    .estrela {
      width: 6%;
      padding-right: 0.2em;
    }

    .title {
      font-family: $default-font;
      color: $font-color;
      font-size: 0.7em;
    }
  }

}

.areas {
  background-color: $default-color;
  display: inline-block;
  text-align: center;

  .text{
    font-size: 25px;
    color: $font-color;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em;
  }
  .link_div {
    padding: 20px;
  }
  .link {
    color: $font-color;
    font-family: $default-font;
    font-weight: 400;
    font-size: 0.9em;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1024px) {

  .about {

    display: inline-flex;
    align-items: center;
    justify-content: flex-end;

    .dra_img {
      margin-top: 2em;
      height: 27em;
      border-radius: 50%;
      width: 24em;
    }

    .texts {
      padding: 1em;
      width: 65%;
      text-align: justify;

      .name {
        width: 100%;
        padding: 1.5em 1.5em;
      }
      
      .subtitle {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1em 2em 1em 3em;

        .title {
          font-size: 1.6em;
        }
      }

      .text {
        font-size: 1.5em;
      }



    }


  }





}
