<section class="about">
    <img class="dra_img" src="../../../assets/img/drarv.png">
    <article>
      <img class="name" src="../../../assets/img/name.svg">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in nunc pharetra, mattis ligula eget, malesuada eros. Aliquam erat volutpat. Pellentesque eu convallis metus, commodo gravida augue. Donec id erat nec urna vehicula commodo. Sed at sapien lectus. Pellentesque vestibulum mi a orci blandit cursus. Suspendisse tellus elit, consequat vel vehicula non, mollis sit amet turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in nunc pharetra, mattis ligula eget, malesuada eros. Aliquam erat volutpat. Pellentesque eu convallis metus, commodo gravida augue. Donec id erat nec urna vehicula commodo. Sed at sapien lectus.
      </p>
    </article>
  </section>

