<section class="contact">
  <h2 class="title">Contato</h2>
  <p class="title_form">Fale Conosco</p>
  <div class="form">
    <input name="nome" id="nome" class="input" placeholder="Nome">
    <input name="email" id="email" class="input" placeholder="Email">
    <input name="subject" id="subject" class="input" placeholder="Assunto">
    <textarea name="message" id="message" class="input" type="text" rows="6" placeholder="Mensagem"></textarea>
  </div>
  <div>
    <button type="submit" class="btn_form">Enviar</button>
  </div>
</section>
